{% extends 'html/base/base.html.twig' %}
{% block body %}
    <div class="scoreboard">
        <div class="scoreboard__table">
            <div class="scoreboard__cell scoreboard__header archivo-black-regular"></div>
            <div class="scoreboard__cell scoreboard__header scoreboard__player-area-header1 archivo-black-regular">PLAYER</div>
            <div class="scoreboard__cell scoreboard__header scoreboard__player-area-header2 archivo-black-regular"><p>SETS</p></div>
            <div class="scoreboard__cell scoreboard__header scoreboard__player-area-header3 archivo-black-regular"><p>GAMES</p></div>
            <div class="scoreboard__cell scoreboard__header scoreboard__player-area-header4 archivo-black-regular"><p>POINTS</p></div>
            <div class="scoreboard__cell scoreboard__num scoreboard__player-num1">1</div>
            <div class="scoreboard__cell scoreboard__player-name scoreboard__player-area-name1 poppins-semibold">{{ match.playerName1 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__set-score-area1">{{ match.setPlayer1 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__game-score-area1">{{ match.gamePlayer1 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__point-score-area1">{{ match.pointPlayer1 }}</div>
            <div class="scoreboard__cell scoreboard__num scoreboard__player-num2">2</div>
            <div class="scoreboard__cell scoreboard__player-name scoreboard__player-area-name2 poppins-semibold">{{ match.playerName2 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__set-score-area2">{{ match.setPlayer2 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__game-score-area2">{{ match.gamePlayer2 }}</div>
            <div class="scoreboard__cell scoreboard__score scoreboard__point-score-area2">{{ match.pointPlayer2 }}</div>
        </div>
        <form class="scoreboard__buttons" method="POST" action="{{ url_for('update-match-score', {}, {'uuid' : match.uuid}) }}">
            <button class="button scoreboard__button poppins-medium" name="winner" type="submit" value="player1">Point Player 1</button>
            <button class="button scoreboard__button poppins-medium" name="winner" type="submit" value="player2">Point Player 2</button>
        </form>
    </div>
{% endblock %}
